{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>ACMBoard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'board/css/board.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">

</head>

<body>

    <nav class="menu">
        <span class="hambgr"></span>
        <ul>
            <li> <a href="{% url 'profile' %}">Profile</a> </li>
            <li> <a href="{% url 'home' %}">Home</a> </li>
            <li> <a href="{% url 'events' %}">Events</a> </li>
            {% if user.is_superuser %}
            <li> <a href="{% url 'event-create' %}">Create Event</a> </li>
            {% endif %}
            <li> <a href="{% url 'logout' %}">Logout</a> </li>
        </ul>
    </nav>
    {% if messages %}
    {% for message in messages %}
    <div class="ml-5 alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock content %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>

</html>