{% extends "board/base.html" %}
{% load static %}
{% block content %}
<div class="container border border-dark rounded bg-light p-3">
    <div class="container">
        <h1 class="mt-3">Title: <small>{{ object.event_name }}</small>
            {% if user.is_superuser %}
            <div class="float-right">
                <button type="button" class="update-event btn btn-lg btn-success"
                    data-id="{% url 'update_event' eventcard.pk %}">
                    <span class="fas fa-edit"></span></button>
                <button type="button" class="delete-event btn btn-lg btn-danger"
                    data-id="{% url 'delete_event' eventcard.pk %}">
                    <span class=" far fa-trash-alt"></span></button>
            </div>
            {% endif %}
        </h1>
        <div>
            <h4 class="mt-0">Description:</h4>
            <h4 class="ml-0"><small>{{ object.small_description }}</small></h4>
        </div>
        <div class="pr-5">
            <h4 class="mt-0">Details: </h4>
            <h4 class="ml-0"><small>{{ object.big_description }}</small></h4>
        </div>
    </div>
    <div class="container">
        <h1>Tasks
            {% if user.is_superuser %}
            <button class="create-task btn btn-lg btn-primary" type="button" name="button">
                <span class="fa fa-plus"></span></button>
            {% endif %}
        </h1>
        <ul class="list-items">
            {% for task in object.task_set.all %}
            <div class="input-group mb-3">
                <li class="w-75">{{ task.description }}</li>
                {% if user.is_superuser %}
                <div class="input-group-append w-25">
                    <button class="delete-task btn btn-primary" type="button" name="button"
                        data-id="{% url 'delete_task' task.pk %}"><i class="fas fa-trash-alt"></i>
                    </button>
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <h1>Attachments</h1>
            {% for a in object.attachment_set.all %}
            <a class="m-1" href="{{a.file.url}}">{{a.file.name}}</a>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {

        // Task Creation Button
        $(".create-task").modalForm({
            formURL: "{% url 'create_task' pk=object.id %}"
        });

        // Task Deletion Button
        $(".delete-task").each(function () {
            $(this).modalForm({ formURL: $(this).data('id') });
        })

        // Update Event Button
        $(".update-event").each(function () {
            $(this).modalForm({ formURL: $(this).data('id') });
        });

        // Delete Event Button
        $(".delete-event").each(function () {
            $(this).modalForm({ formURL: $(this).data('id') });
        })

    });
</script>
{% endblock scripts %}