{% extends "board/base.html" %}
{% load static %}
{% block content %}
<div class="board">
    {% if events %}
    {% for event in events %}
    <div class="list">
        <ul>
            <header><a href="{% url 'event-detail' event.id %}"> {{ event.event_name }} </a></header>
            <h1> {{  event.small_description }} </h1>
            {% if event.task_set.all %}
            <h2>Tasks</h2>
            {% for task in event.task_set.all %}
                <li>{{ task.description }}</li>
            {% endfor %}
            {% else %}
            <h2>No tasks!</h2>
            {% endif %}
        </ul>
    </div>
    {% endfor %}
    {% else %}
    <header> You're not in any event at the moment! </header>
    {%endif%}
</div>
{% endblock content %}