{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container h-100">
	<div class="d-flex justify-content-center h-100">
		<div class="user_card">
			<div class="d-flex justify-content-center">
				<form method="POST" action="" class="text-center mb-0">
					<img src="{% static "users/ACM_Logo.svg" %}" class="brand_logo" alt="Logo">
					{% csrf_token %}
					<!-- Event Name -->
					<div class="input-group mb-1 invalid ">
						<div class="input-group-append ">
							<span class="input-group-text"><i class="fas fa-signature"></i></span>
						</div>
						<input class="form-control " type="text" name="event_name" maxlength="50" required="" id="id_event_name"
							placeholder="Event Name">
					</div>
					<!-- Event Small Description -->
					<div class="input-group mb-1 invalid">
						<div class="input-group-append ">
							<span class="input-group-text"><i class="far fa-comment"></i></span>
						</div>
						<input class="form-control" type="text" name="small_description" maxlength="500" required=""
							id="id_small_description" placeholder="Event Small Description">
					</div>
					<!-- Event Full Description -->
					<div class="input-group mb-1 invalid">
						<div class="input-group-append ">
							<span class="input-group-text"><i class="far fa-comment"></i></span>
						</div>
						<input class="form-control" type="text" name="big_description" maxlength="10000" required=""
							id="id_big_description" placeholder="Event Big Description">
					</div>
					<!-- Date -->
					<div class="input-group mb-1 invalid">
						<div class="input-group-append ">
							<span class="input-group-text"><i class="fas fa-calendar-day"></i></span>
						</div>
						<input class="form-control" data-format="dd/MM/yyyy hh:mm:ss" type="date" name="date" required
							id="id_date" placeholder="Date">
					</div>
					<!-- Room -->
					<div class="input-group mb-1 invalid">
						<div class="input-group-append ">
							<span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
						</div>
						<input class="form-control" type="text" name="room" maxlength="200" required="" id="id_room"
							placeholder="Room">
					</div>
					<div class="d-flex justify-content-center login_container ">
						<button type="submit" name="button" class="btn login_btn">Create</button>
					</div>
					<a href="{% url 'events' %}" class="ml-2">Cancel</a>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}