{% extends "board/base.html" %}
{% block content %}
<div class="board">
    {% if events %}
    {% for event in events %}
    <div class="list">
        <ul>
            <header><a href="{% url 'event-detail' event.id %}"> {{ event.event_name }} </a></header>
            <h1> {{  event.small_description }} </h1>
            <h2>Tasks</h2>
            {% for eventkey, tasks in tasklist.items %}
                {% if eventkey == event.event_name %}
                    {% for task in tasks %}
                        <a>
                            <li>{{ task.description }}</li>
                        </a>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
    {% else %}
    <p> You're not in any event at the moment! </p>
    {%endif%}
</div>
{% endblock content %}