{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <form method="POST" class="text-center mb-0">
                    {% load static %}
                    <img src="{% static "users/ACM_Logo.svg" %}" class="brand_logo" alt="Logo">
                    {% csrf_token %}
                    <!-- First Name -->
                    <div class="input-group mb-1">
                        <div class="input-group-append ">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{ form.first_name }}
                    </div>
                    <!-- Last Name -->
                    <div class="input-group mb-1">
                        <div class="input-group-append ">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{ form.last_name }}
                    </div>
                    <!-- Userame -->
                    <div class="input-group mb-1">
                        <div class="input-group-append ">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{ form.username }}
                    </div>
                    <!-- Email -->
                    <div class="input-group mb-1">
                        <div class="input-group-append ">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        {{ form.email }}
                    </div>
                    <!-- Password -->
                    <div class="input-group mb-1">
                        <div class="input-group-append ">
                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        </div>
                        {{ form.password1 }}
                    </div>
                    <!-- Password Confirmation -->
                    <div class="input-group mb-1">
                        <div class="input-group-append ">
                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        </div>
                        {{ form.password2 }}
                    </div>
                    <div class="d-flex justify-content-center login_container ">
                        <button type="submit" name="button" class="btn login_btn mt-2">Sign Up</button>
                    </div>
                </form>
            </div>
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Already have an account? <a href="{% url 'login' %}">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}